@import url(https://fr.allfont.net/allfont.css?fonts=libre-baskerville-bold);


/* ------------------------- Preset ------------------------- */

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}



/* ------------------------- HEADER / NAV ------------------------- */

header {
    width: 100vw;
    height: 90px;
    display: flex;
}

.menu {
    display: none;
}

/* Menu gauche */

.leftNav {
    height: 100%;
    width: 40%;
    display: flex;
}

.leftMenu {
    height: 50%;
    width: 70%;
    display: flex;
    margin: auto;
}

.leftUl {
    width: 100%;
    display: flex;
    font-family: 'Avenir';
    font-size: 12px;
    margin: auto;
    justify-content: flex-start;
}

.navL {
    color: #190D45;
    margin-right: 20px;

}

/* Menu centre */

.centerNav {
    margin: auto;
    width: 20%;
    display: flex;
}

.logoCarrousel {
    height: 90px;
    display: block;
    margin: auto;
}

/* Menu right */

.rightNav {
    height: 100%;
    width: 40%;
    display: flex;
}

.rightMenu {
    height: 50%;
    width: 70%;
    margin: auto;
    display: flex;
}

.rightUl {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Avenir';
    font-size: 12px;
    margin: auto;
}



.navR {
    color: #190D45;
}

.pipe {
    color: #190D45;
    opacity: 20%;
}


/* ------------------------- CARROUSEL QUI GÈRE LA LES PREMIÈRES IMAGES ------------------------- */

.carrousel-swiper {
    width: 100%;
    height: 572px;
    display: flex;
    z-index: 10;
}

.gallerieG {
    width: 75%;
    height: 100%;
    background-color: #ffffff;
}

.gallery-container-img {
    height: 75%;
    width: 100%;
}

.gallery-img {
    background-size: cover;
}


.gallery-img2 {
    background-size: cover;
    width: 100% !important;
    height: 33.3% !important;

}

.gallery-thumbs {
    height: 100%;
    width: 100%;

}

.gallerieD {
    margin-left: 3px;
    height: 100%;
    width: 25%;
    display: flex;
}


.gallerie-text-like-bouton {
    display: flex;
    height: 25%;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.gallerie-like {
    float: left;
    height: 100%;
    width: 11%;
    background-color: #190D45;
    display: flex;
}

.likePng {
    height: 30px;
    margin: auto;
}

.gallerie-text {
    height: 100%;
    width: 66.7%;
    background-color: #190D45;
    margin-right: 1px;
    display: flex;
}

.gallerie-text-p {
    height: 25%;
    margin: auto;
}

.gallerie-text-p-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color: #ffffff;
}

.gallerie-text-p-author {
    font-family: 'Avenir light';
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffffff;
}

.gallerie-bouton {
    display: flex;
    height: 100%;
    width: 22%;
    background-color: #190D45;
    justify-content: space-between;

}

.gallerie-bouton-prev {
    height: 100%;
    width: 49.7%;
    background-color: #ffffff;
    display: flex;

}

.gallerie-bouton-next {
    height: 100%;
    width: 49.7%;
    background-color: #ffffff;
    float: right;
    display: flex;
}


.swiper-button-next.swiper-button-white,
.swiper-button-prev.swiper-button-white {
    --swiper-navigation-color: #190D45 !important;
    margin: auto;

}

.swiper-button-next,
.swiper-button-prev {
    position: initial !important;


}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 15px !important;
}




/* ------------------------- EXPOSANTS ------------------------- */
.exposants {
    height: 780px;
    width: 100%;
}

.title {
    position: relative;
    height: 67px;
    width: 230px;
    display: flex;
    margin: 100px auto;

}

.titleText {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 33%;
    font-family: 'Libre Baskerville Bold', serif;
    font-weight: bolder;
    font-size: 20px;
    color: #190D45;
}


.round {
    position: absolute;
    z-index: 1;
    height: 67px;
    width: 67px;
    background-color: #FFF9C0;
    border-radius: 50%;
}

/* ------------------------- CARROUSEL EXPOSANTS ------------------------- */

.background-exposants {
    height: 403px;
    width: 75%;
    background-color: #F1F2F6;
    position: absolute;
    z-index: -1;
    top: 150%;
    right: 0;
}

.swip-exposants {
    width: 95%;
    height: 60%;
}

.swip-exposants-card {
    background: transparent;
    display: flex;

    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;

}

.swipPicture {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.swipTitle {
    padding-top: 6px;
    width: 100%;
    height: 10%;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: #190D45;
}

.swipSub {
    width: 100%;
    height: 5%;
    padding-top: 4px;
}

.swipSubTitle {
    font-family: 'Avenir book';
    font-size: 10px;
    color: #190D45;
    float: left;
}


.swipSubArrow {
    height: 14px;
    margin-left: 20px;
}

/* ------------------------- BOUTON EXPOSANTS ------------------------- */

.btn {
    height: 60px;
    width: 100%;
    margin-top: 70px;
}

button {
    height: 50px;
    width: 286px;
    background-color: #190D45;
    display: flex;
    cursor: pointer;
    border: none;
    margin: auto;
}

.btn-exposant-text {
    font-family: 'Avenir light';
    font-size: 12px;
    color: #ffffff;
    margin: auto;
}

/* ------------------------- CATEGORIES ------------------------- */

.containerCategories {
    width: 100%;
    height: 400px;
    display: flex;
}

.categories {
    height: 221px;
    width: 920px;
    margin: auto;
}

.titleC {
    position: relative;
    height: 32%;
    width: 195px;
    display: flex;
    margin: 0 auto;
}

.categories-box-top {
    margin-top: 10%;
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
}

.categories-box-bottom {
    margin-top: 10px;
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: center;
}

.cate-box {
    height: 51px;
    background-color: #FFFFFF;
    border: 1px solid #190D45;
    display: flex;
    cursor: default;
    color: #190D45;
}

.cate-box:hover {
    background-color: #190D45;
    ;
    border: 1px solid #ffffff;
    color: #ffffff;
    transition-duration: 0.3s;
}

.cate-text {
    font-family: 'Avenir light';
    font-size: 12px;
    letter-spacing: 1px;
    margin: auto;

}

.b1 {
    width: 118px;
}

.b2 {
    width: 94px;
}

.b3 {
    width: 97px;
}

.b4 {
    width: 128px;
}

.b5 {
    width: 70px;
}

.b6 {
    width: 139px;
}

.b7 {
    width: 95px;
}

.b8 {
    width: 108px;
}

.b9 {
    width: 94px;
}

.b10 {
    width: 174px;
    margin: 0 10px 0 10px;
}

.b11 {
    width: 118px;
}

/* ------------------------- TABLEAUX ------------------------- */

.tableaux {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
}


.tabbg {
    z-index: 3;
    width: 70vw;
    height: 480px;
    background-color: #F1F2F6;
    margin: auto 0;
}

.tabs {
    display: flex;
    position: absolute;
    z-index: 4;
    height: 373px;
    width: 1110px;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
}

.tab1 {
    height: 100%;
    width: 540px;
    float: left;
}

.tab2 {
    height: 100%;
    width: 540px;
    float: right;
}

.tableauGauche {
    height: 100%;
    width: 100%;
}

.tableauDroite {
    height: 100%;
    width: 100%;
}


/* ------------------------- FOOTER ------------------------- */

footer {
    height: 254px;
    width: 100%;
    background-color: #F1F2F6;
    display: flex;
}

.footerLogo {
    height: 100%;
    width: 30%;
    display: flex;
}

.footerLink1 {
    height: 100%;
    width: 20%;
    display: flex;
}

.footerLink2 {
    height: 100%;
    width: 20%;
    display: flex;
}

.footerSearch {
    height: 100%;
    width: 30%;
    display: flex
}

.footerLogoCarrousel {
    height: 130px;
    margin: auto;
}

.footerMenu {
    width: 160.5px;
    height: 129px;
    margin: auto;
}

.footerMenuTitle {
    font-family: 'Avenir light';
    font-size: 14px;
    letter-spacing: 1px;
    color: #190D45;
}

.footerMenuLine {
    height: 1px;
    width: 160px;
    background-color: #DFDFDF;
    margin: 8px 0;

}

.link {
    font-family: 'Avenir light';
    font-size: 15px;
    color: #808085;
}

.liLink {
    margin-top: 10px;
}

.footerMenu2 {
    width: 180.5px;
    height: 129px;
    margin: auto 20%;
}

.footerMenuLine2 {
    height: 1px;
    width: 255px;
    background-color: #DFDFDF;
    margin: 8px 0;
}

.barRecherche {
    display: flex;
    height: 20px;
    width: 255px;
    justify-content: space-between;
}

.loop {
    height: 14px;
}



/* ------------------------- RESPONSIVE ------------------------- */

@media screen and (max-width: 1173px) {

    header {
        display: block;
    }

    .toggle_btn {
        height: 30px;
        width: 30px;
        position: absolute;
        float: right;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .toggle_btn span {
        height: 3px;
        background-color: #190D45;
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
    }

    .toggle_btn span:before {
        content: '';
        height: 3px;
        background-color: #190D45;
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
    }

    .toggle_btn span:after {
        content: '';
        height: 3px;
        background-color: #190D45;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
    }

    .menu {
        height: 1000px;
        background-color: #190D45;
        width: 200px;
    }

    .menu a {
        color: #ffffff;
        font-family: 'Avenir';
        text-align: center;
        display: block;
        padding-top: 30px;
    }

    .logo {
        font-weight: bold;
        font-size: 24px;
    }

    .nav {
        margin-left: -200px;
        transition: 0.2s;
        display: block;

    }

    .nav_open {
        position: fixed;
        margin-left: 0;
        transition-duration: 0.2s;
        z-index: 15;
    }

    .leftNav {
        display: none;
    }

    .rightNav {
        display: none;
    }

    .centerNav {
        margin: auto;
        width: 100%;
        display: flex;
    }
}


@media screen and (max-width: 1000px) {
    .gallerieD {
        display: none;
    }

    .gallerieG {
        width: 100%;
    }

    .tabs {
        display: block;
    }

    .tab1 .tab2 {
        width: 100%;
    }
}


@media screen and (max-width: 950px) {

    .tableaux {
        position: relative;
        width: 90%;
        height: 850px;
        display: block;
    }

    .tabs {
        top: 25%;
    }

    .tab1 {
        margin-left: 25%;
        width: 600px;
        height: 100%;
        margin-bottom: 50px;
    }

    .tab2 {
        height: 100%;
        width: 600px;
        margin-left: 25%;
        float: none;
    }

    .tabbg {
        position: absolute;
        z-index: 0;
    }

    footer {
        display: block;
    }

    .footerLogo {
        width: 100%;
    }

    .footerLogoCarrousel {
        margin-left: 25%;
    }

    .footerMenu {
        display: none;
    }

    .footerLink2 {
        display: none;
    }

    .footerLink1 {
        display: none;
    }

    .footerSearch {
        display: none;
    }
}